<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="width: 50%; float:left; padding: 10px 0 10px 20px">
      Home
    </ion-title>

    <div style="width: 10%; float:right;">
      <ion-button (click)="logout()">
        Sign Out
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <br>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
