<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="float:left; padding-top: 4px; font-size: 22px;">
      Tab 2
    </ion-title>

    <ion-buttons style="float: right">
      <ion-button (click)="logout()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="error-msg" *ngIf="message !== ''" style="text-align:center; margin: 30px auto 0 auto;">{{message}}</div>

  <ion-item>
    <ion-input [(ngModel)]="animal"  placeholder="Animal"></ion-input>
  </ion-item>

  <div style="text-align:center;">
    <ion-button (click)="search()" style="margin: 40px auto 0 auto;">Get Fact!</ion-button>
  </div>

  <div *ngIf="fact !== ''" style="text-align:center; margin: 30px auto 0 auto;">{{fact}}</div>

</ion-content>
