<ion-header>
  <ion-toolbar>
    <ion-title style="float:left; padding-top: 4px; font-size: 22px;">
      Animals
    </ion-title>

    <ion-buttons style="float: right">
      <ion-button (click)="logout()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error-msg" *ngIf="message !== ''">{{message}}</div>

  <ion-item>
    <ion-input [(ngModel)]="animal"  style="margin-top: 30px"
      placeholder="Enter any animal"></ion-input>
  </ion-item>

  <div style="text-align:center;">
    <ion-button style="margin: 20px auto 0 auto;" size="medium"
      (click)="search()">Get Fact!</ion-button>
  </div>

  <div *ngIf="fact !== ''"
    style="text-align:center; margin: 30px auto 0 auto; width: 80%;">
    {{fact}}
  </div>

</ion-content>
