<ion-header>
  <ion-toolbar>
    <ion-title style="float:left; padding-top: 4px; font-size: 22px;">
      Gender
    </ion-title>

    <ion-buttons style="float: right">
      <ion-button (click)="logout()">
        Sign Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top: 10px;">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="firstName" type="text"
            placeholder="Enter first name"></ion-input>
        </ion-item>

        <div style="text-align:center;">
          <ion-button style="margin: 20px auto 5px auto;" size="small" (click)="getGender()">
            Get Gender
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-list *ngIf="showOutput">
      <ion-list-header style="font-weight: 500;">
        <ion-item>Entered first name: {{gender.name}}</ion-item>
      </ion-list-header>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-label color="secondary">{{gender.gender}} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Accuracy</ion-label>
        <ion-label color="secondary">{{gender.accuracy}}%</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Samples</ion-label>
        <ion-label color="secondary">{{gender.samples}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
